body {background-color:rgba(243, 243, 243, 0.959);text-align: center
    justify; font-size: 18px ;}
    h1 {text-align: center;background-color:rgba(250, 244, 244, 0.959);}
    h3{ text-align: justify ;color:rgb(248, 246, 244)}
     b {color:rgba(245, 240, 240, 0.445); font-size: 18px;}
     i{color:rgb(88, 206, 9); font-size: 18px;}
     header, footer{ background-color:rgb(233, 59, 16); color:rgb(105, 219, 29); text-align: center; font-size: 20px;}
        primeiro paragrafo{text-align: justify;font-size: 18px; border: rgb(247, 244, 244) solid 2px; padding: 10px; margin: 10px;}
        segundo paragrafo{text-align: justify;font-size: 18px; border: solid 2px; padding: 10px; margin: 10px;}